# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# C extensions
*.so

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
ENV.bak/
venv.bak/

# Pyre type checker
.pyre/

# Pipenv files
Pipfile.lock

# pyright type checker
.pyright/

# mypy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# FastAPI log files
*.log

# VS Code workspace settings
.vscode/

# PyCharm settings
.idea/

# Test result files
.pytest_cache/
.coverage
.tox/
.cache
.nox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS-specific files
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

# Local database files (SQLite)
*.db
*.sqlite3

# Environment variables
.env
*.env

# Docker files and containers
docker-compose*.yaml
Dockerfile
*.dockerignore
